<div class="row">
    <div class="col-6">
        <app-current-track-info [currentTrack]="playerState.track"></app-current-track-info>
        <div class="col-12 text-center">
            <input type="range" min="1" max="1000" step="10" class="custom-range pl-2 pr-2" 
                id="position" [(ngModel)]="position" (change)="seek()">
            <div class="col-12"></div>
            <button mdbBtn class="dark-bg-surface" (click)="pause()"> <mdb-icon fas icon="stop"></mdb-icon> </button>
            <button mdbBtn class="dark-bg-surface" (click)="resume()"> <mdb-icon fas icon="play"></mdb-icon></button> 
            <button mdbBtn class="dark-bg-surface" (click)="previousTrack()"> <mdb-icon fas icon="backward"></mdb-icon></button> 
            <button mdbBtn class="dark-bg-surface" (click)="nextTrack()"> <mdb-icon fas icon="forward"></mdb-icon></button> 
            <input type="range" min="0" max="1" step="0.01" class="custom-range horizontal pl-2 pr-2" 
                id="volume" [(ngModel)]="volume" (change)="setVolume()">
        </div>
    </div>
    <div class="col-6">
        <app-track-queue [nextTracks]="playerState.nextTracks" [previousTracks]="playerState.previousTracks"></app-track-queue>
    </div>
</div>

