<div *ngIf="playerState.track.name !== ''; else loading" class="row justify-content-center">
    <div class="col-3 d-none d-md-block"> 
        <app-current-track-info [currentTrack]="playerState.track"></app-current-track-info>
    </div>
    <div class="col">
        <div class="row justify-content-center">
            <div class="col text-center">
                <button mdbBtn size="sm" class="dark-bg-surface"  (click)="previousTrack()"> <mdb-icon fas icon="backward"></mdb-icon></button> 
                <button mdbBtn size="sm" class="dark-bg-surface"  (click)="togglePlay()"> <mdb-icon fas [icon]="togglePlayIcon"></mdb-icon> </button>
                <button mdbBtn size="sm" class="dark-bg-surface"  (click)="nextTrack()"> <mdb-icon fas icon="forward"></mdb-icon></button> 
            </div>
            <div class="col-12"></div>
            <div class="col p-0 text-right">{{trackProgress | timeSeconds}}</div>
            <div class="col-8 p-0">
                <input type="range" min="1" [max]="playerState.track.duration" step="10" class="custom-range pl-2 pr-2" 
                    id="position" [(ngModel)]="trackProgress" (change)="seek()">
            </div>
            <div class="col p-0 text-left"> {{playerState.track.duration | timeSeconds}} </div>
            <div class="col-12"></div>
            <div class="col-3 d-none">
                <mdb-icon fas [icon]="this.volume === 0? 'volume-mute' : (this.volume < 0.40? 'volume-down' : 'volume-up')"></mdb-icon>
                <input type="range" min="0" max="1" step="0.05" class="custom-range pl-2 pr-2 horizontal" 
                    id="volume" [(ngModel)]="volume" (input)="setVolume()">
            </div>
        </div>
    </div>
    <div class="col-3 d-none d-md-block"></div>
</div>

<ng-template #loading>
    <div class="col-12 text-center mt-auto py-3 py-md-0">
        <div class="spinner-border spinner" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>