<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-sm navbar-dark dark-bg-surface" [containerInside]="true">
    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand text-white" href="#">Spotify Genius</a></mdb-navbar-brand>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect href="https://github.com/maciejows/spotify-party-manager"><mdb-icon fab icon="github" size="lg"></mdb-icon></a>
      </li>
    </ul>
    <!-- Collapsible content -->
    <links>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item avatar dropdown" #dropdown mdbDropdown>
          <a *ngIf="(user$ | async).name !=='' && (user$ | async) as user" mdbDropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <img [src]="user.imgUrl" style="height:50px"alt="" class="img-fluid rounded-circle z-depth-0"> {{user.name}} </a>
          <div  class="dropdown-menu dropdown-menu-right dropdown dark-bg-surface" role="menu">
            <a class="dropdown-item text-white" type="button" (click)="logout(); dropdown.hide()">Log out</a>
          </div>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <!--/.Navbar-->