html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.spy {
    background-color: red;
}
.rmpm {
    padding:0;
    margin:0;
}

.border-rounded {
    border-radius: 5px;
}

// Dark theme
$dark-bg: #19191A;
$dark-surface: #303031;
$color-primary: #1DB955;

.nav-link {
    color: white;
}

.nav-link:hover{
    color: white;
    opacity: 70%;
}

.clickable:hover {
    cursor: pointer;
    opacity: 80%;
}

.color-primary {
    color: $color-primary !important;
}

button.bg-primary {
    color: white !important;
    background-color: $color-primary !important;
}

a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {
    opacity: 70%;
    background-color: $color-primary !important;
}

a.dropdown-item:hover {
    opacity: 50%;
    background-color: inherit;
}


.primary-text-darkmode {
  color: #FFFFFF;
}

.dark-bg {
  background-color: $dark-bg !important;
  color: #fff !important;
}

.list-group-item {
    background-color: $dark-bg !important;
    color: #fff !important;
    border-color: $dark-surface;
}

.text-white {
    color: #fff;
}

.dark-bg-surface {
  background-color: $dark-surface;
  color: #fff;
}

.spinner {
    color: $color-primary;
}